
*{
    margin: 50px 50px 10px 50px;
    padding: 0;
    box-sizing: border-box;
}
     P{
        color: greenyellow;
}
span{
    font-size: 15px;
    font-weight: 700;
    font-style: italic;
}
h3{
    text-align: center;
    margin: 20px auto 20px auto;
    border: 3px dotted greenyellow;
    padding: 10px;

}